body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

h1, h3 {
    color: #343a40;
}

#staff-cards .card {
    margin-bottom: 15px;
}

.staff-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}
